html, body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    background-image: url(/images/my\ pattern.jpg);
    background-size: cover;
}

.container {
            height: 80%;
            width: 30%;
            margin: 90px auto;
            padding: 200px;            
}

h1 { color: rgb(48, 48, 116)}

h2 { color: rgb(170, 122, 34);}

.gain { color: gray;}

.why_us { flex: 1;
        background-color:  rgb(48, 48, 116); 
        padding: 40px; 
        line-height: 35px;
}

.monthly { flex: 1;
         background-color: navy;
         padding: 40px;      
            
}

.join {
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 10px 10px 0 0;  
    margin-bottom: 0;
}

.inner_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;  
}

.container > div {
    flex: 1;
}

.fee {font-size: 30px;
        font-weight: bold;
        margin: 0;
}

#year {
    font-size: 14px;
    color: rgb(206, 192, 192);
}

button {
    background-color: rgb(170, 122, 34);
    padding: 15px 95px;
    border: none;
    border-radius: 4px;

}